// Couleurs
$primary-color: #1C2C3C;
$secondary-color: #ac7d14;
$hover-color: #5E7D9C;
$background-color: #f4f4f4;
$white: #fff;
$error-color: #e74c3c;
$error-color-dark: #880000;
$success-color: #2ecc71;
$success-color-dark: #02642b;
$info-color: #3498db;
$footer-bg: #1C2C3C;
$text-color: #333;
$light-text-color: #dbdbdb;

// Typographies
$main-font: 'Calibri', sans-serif;
$heading-font: 'Mixone';
$subheading-font: 'Henotica';

// Boutons
$btn-padding: 10px 20px;
$btn-border-radius: 5px;
$btn-bg: $secondary-color;
$btn-bg-hover: $hover-color;